<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>openvidu-mvc-java</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
	    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<!-- Bootstrap -->

	<link rel="styleSheet" href="style.css" type="text/css" media="screen"/>
</head>

<body>


	<div id="main-container" class="container">
		<div id="logged">
			<div id="join" class="vertical-center">
				<div id="img-div"><img src="images/openvidu_grey_bg_transp_cropped.png" /></div>
				<div id="join-dialog" class="jumbotron">
					<h1>Join a video session</h1>
					<form class="form-group" action="/session" method="post">

						<h3>
							<div style="color:red;text-align:center" role="alert" th:text="${error}" th:if="${error}"></div>
						</h3>

						<p>
							<label>Participant</label>
							<input class="form-control" type="text" name="data" th:value="${username}" required placeholder="Enter Nickname"/>
						</p>
						<p>
							<label>Session</label>
							<input class="form-control" type="text" name="session-name" required placeholder="Enter Session Id"/>
						</p>
						<p>
							<label>Pass</label>
							<input class="form-control" type="text" name="password" placeholder="Leave it Blank If No password"/>
						</p>
						<p class="text-center">
							<button class="btn btn-lg btn-success" type="submit">Join!</button>
						</p>
					</form>
					<hr/>
					<div id="login-info">
						<div>Logged as <span th:text="${username}" id="name-user"></span></div>
						<form action="/logout" method="post">
							<button id="logout-btn" class="btn btn-warning" type="submit">Log out</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>