<?php session_start(); ?>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>openvidu-mvc-java</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"></link>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <!-- Bootstrap -->

    <link rel="styleSheet" href="style.css" type="text/css" media="screen"></link>
    <script src="openvidu-browser-2.20.0.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



    </style>

</head>

<body>

<div id="main-container" class="container">
    <div id="img-div"><img src="images/zoom_icon.png" /></div>
    <div id="logged">
        <div id="session">
            <div id="session-header">
                <h4 th:text="${sessionName}" id="session-title"></h4>
                <!--				make a form then add onclick with it should call a function <form></form>-->
                <p id="receiver"></p>

                <!--					<form method="post">-->
                <label> Send messages</label>
                <input type="text" name="session-name" id="chat" value="Hi!"/>
                <input id="sendChat" type="submit" onclick="sendChatMessage()"> Send Message</input>
                <!--						<input type="hidden" name="token" th:value="${token}"></input>-->
                <!--					</form>-->
                <form action="/leave-session" method="post">
                    <input type="hidden" name="session-name" th:value="${sessionName}"/>
                    <input type="hidden" name="token" th:value="${token}"/>
                    <button id="buttonLeaveSession" class="btn btn-large btn-danger" type="submit" onclick="leaveSession()">
                        Leave session
                    </button>
                </form>

                <label>Camera</label>
                <label class="switch">
                    <input type="checkbox" id="Camera" checked onclick="toggleVideo()">
                    <span class="slider round"></span>
                </label>

                <label>Mic</label>
                <label class="switch">
                    <input type="checkbox" id="Audio" checked onclick="toggleAudio()">
                    <span class="slider round"></span>
                </label>

                <button id="shareScreen" class="btn btn-large btn-success"  onclick="screenShare()">Share</button>

            </div>
            <div id="main-video" class="col-md-6">
                <p class="nickName"></p>
                <p class="userName"></p>
                <video autoplay="autoplay" playsinline="true"></video>
            </div>
            <div id="video-container" class="col-md-6"></div>
        </div>
    </div>
</div>
<input type="text" id="mytext">
</body>

<script th:inline="javascript">

	// Get all the attributes from the template in Thymeleaf style
	var sessionName = [[${ sessionName }]];
	var token = [[${ token }]];
	var nickName = [[${ nickName }]];
	var userName = [[${ userName }]];
	var publisher;
    var session;
    var OV;
	console.warn('Request of TOKEN gone WELL (TOKEN:' + token + ')');

	// --- 1) Get an OpenVidu object ---

	OV = new OpenVidu();

	// --- 2) Init a session ---

	session = OV.initSession();

	// --- 3) Specify the actions when events take place in the session ---

	// On every new Stream received...
	session.on('streamCreated', (event) => {

		// Subscribe to the Stream to receive it
		// HTML video will be appended to element with 'video-container' id
		var subscriber = session.subscribe(event.stream, 'video-container');

		// When the HTML video has been appended to DOM...
		subscriber.on('videoElementCreated', (event) => {

			// Add a new HTML element for the user's name and nickname over its video
			appendUserData(event.element, subscriber.stream.connection);
		});
	});

	// On every Stream destroyed...
	session.on('streamDestroyed', (event) => {
		// Delete the HTML element with the user's name and nickname
		removeUserData(event.stream.connection);
	});

	// On every asynchronous exception...
	session.on('exception', (exception) => {
		console.warn(exception);
	});

	// --- 4) Connect to the session passing the retrieved token and some more data from
	//        the client (in this case a JSON with the nickname chosen by the user) ---

	session.on('signal', (event) => {
		document.getElementById("mytext").value = event.data;
		console.log(event.data); // Message
		console.log(event.from); // Connection object of the sender
		console.log(event.type); // The type of message
	});

	session.connect(token, { clientData: nickName })
		.then(() => {

			// --- 5) Set page layout for active call ---

			$('#session-title').text("Session "+sessionName);
			$('#join').hide();
			$('#session').show();


			// Here we check somehow if the user has 'PUBLISHER' role before
			// trying to publish its stream. Even if someone modified the client's code and
			// published the stream, it wouldn't work if the token sent in Session.connect
			// method is not recognized as 'PUBLIHSER' role by OpenVidu Server
			//if (isPublisher()) {

				// --- 6) Get your own camera stream ---

					 publisher = OV.initPublisher('video-container', {
					audioSource: undefined, // The source of audio. If undefined default microphone
					videoSource: undefined, // The source of video. If undefined default webcam
					publishAudio: true,  	// Whether you want to start publishing with your audio unmuted or not
					publishVideo: true,  	// Whether you want to start publishing with your video enabled or not
					resolution: '640x480',  // The resolution of your video
					frameRate: 30,			// The frame rate of your video
					insertMode: 'APPEND',	// How the video is inserted in the target element 'video-container'
					mirror: false       	// Whether to mirror your local video or not
				});

				// --- 7) Specify the actions when events take place in our publisher ---

				// When our HTML video has been added to DOM...
				publisher.on('videoElementCreated', (event) => {
					// Init the main video with ours and append our data
					var userData = {
						nickName: nickName,
						userName: userName
					};
					initMainVideo(event.element, userData);
					appendUserData(event.element, userData);
					$(event.element).prop('muted', true); // Mute local video
				});


				// --- 8) Publish your stream ---

				session.publish(publisher);

			//} else {
				//console.warn('You don\'t have permissions to publish');
				//initMainVideoThumbnail(); // Show SUBSCRIBER message in main video
			//}
		})
		.catch(error => {
			console.warn('There was an error connecting to the session:', error.code, error.message);
		});

	//
	function sendChatMessage(){
		session.signal({
			data: document.getElementById("chat").value,  // Any string (optional)
			to: [],                     // Array of Connection objects (optional. Broadcast to everyone if empty)
			type:'my-chat'            // The type of message (optional)
			})
			.then(() => {
				console.log('Message successfully sent');
				console.log(document.getElementById("chat").value);
				document.getElementById("receiver").value = document.getElementById("chat").value;
				session.on('signal', (event) => {
					document.getElementById("receiver").value = event.data;
					console.log(event.data); // Message
					console.log(event.from); // Connection object of the sender
					console.log(event.type); // The type of message ("my-chat")
				});
			})
			.catch(error => {
				console.error(error);
			});
	}



	function leaveSession() {

		// --- 9) Leave the session by calling 'disconnect' method over the Session object ---
		session.disconnect();
	}

	function appendUserData(videoElement, connection) {
		var clientData;
		var serverData;
		var nodeId;
		if (connection.nickName) { // Appending local video data
			clientData = connection.nickName;
			serverData = connection.userName;
			nodeId = 'main-videodata';
		} else {
			clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
			serverData = JSON.parse(connection.data.split('%/%')[1]).serverData;
			nodeId = connection.connectionId;
		}
		var dataNode = document.createElement('div');
		dataNode.className = "data-node";
		dataNode.id = "data-" + nodeId;
		dataNode.innerHTML = '<p class="nickName">' + clientData + '</p><p class="userName">' + serverData + '</p>';
		videoElement.parentNode.insertBefore(dataNode, videoElement.nextSibling);
		addClickListener(videoElement, clientData, serverData);
	}

	function removeUserData(connection) {
		var userNameRemoved = $("#data-" + connection.connectionId);
		if ($(userNameRemoved).find('p.userName').html() === $('#main-video p.userName').html()) {
			cleanMainVideo(); // The participant focused in the main video has left
		}
		$("#data-" + connection.connectionId).remove();
	}

	function removeAllUserData() {
		$(".data-node").remove();
	}

	function cleanMainVideo() {
		$('#main-video video').get(0).srcObject = null;
		$('#main-video p').each(function () {
			$(this).html('');
		});
	}

	function addClickListener(videoElement, clientData, serverData) {
		videoElement.addEventListener('click', function () {
			var mainVideo = $('#main-video video').get(0);
			if (mainVideo.srcObject !== videoElement.srcObject) {
				$('#main-video').fadeOut("fast", () => {
					$('#main-video p.nickName').html(clientData);
					$('#main-video p.userName').html(serverData);
					mainVideo.srcObject = videoElement.srcObject;
					$('#main-video').fadeIn("fast");
				});
			}
		});
	}

	function initMainVideo(videoElement, userData) {
		$('#main-video video').get(0).srcObject = videoElement.srcObject;
		$('#main-video p.nickName').html(userData.nickName);
		$('#main-video p.userName').html(userData.userName);
		$('#main-video video').prop('muted', true);
	}

	function initMainVideoThumbnail() {
		$('#main-video video').css("background", "url('images/subscriber-msg.jpg') round");
	}

	function isPublisher() {
		return userName.includes('publisher');
	}

	function toggleVideo(){
	var camera = document.getElementById("Camera");
	    if (camera.checked){
	    publisher.publishVideo(true);
	    }
	    else{
		publisher.publishVideo(false);
		}
	}

	function toggleAudio(){
	var audio = document.getElementById("Audio");
	    if (audio.checked){
	   publisher.publishAudio(true);
	    }
	    else{
		publisher.publishAudio(false);
		}
	}

	function screenShare(){
	    var OV = new OpenVidu();
	    console.log("share")
        var sessionScreen = OV.initSession();
        console.log("share1")
            console.log("share2")
            console.log("share 44"+token)
           sessionScreen.connect(token).then(() => {
                 console.log("shar77")
                publisher = OV.initPublisher("html-element-id", { videoSource: "screen" });
                console.log("share3")
                publisher.once('accessAllowed', (event) => {
                    publisher.stream.getMediaStream().getVideoTracks()[0].addEventListener('ended', () => {
                        console.log('User pressed the "Stop sharing" button');
                    });
                    sessionScreen.publish(publisher);

                });

                publisher.once('accessDenied', (event) => {
                    console.warn('ScreenShare: Access Denied');
                });

            }).catch((error => {
                console.warn('There was an error connecting to the session:', error.code, error.message);

            }));
	}

</script>

</html>
